# Visual Studio
.[Vv]s/
.[Vv]scode/
[Dd]ebug/
[Rr]elease/
[Bb]uild/

# other tools
*.bat
*.zip
[Zz]ips/
*.jar
*.pdf
*.log


# auto-generatable test-resources
UnitTest/TestResource/auto_samples/*/*.expect
UnitTest/TestResource/auto_samples/*/*.input
*result.txt
*.result
*ir.asm
*.ir
*assembly.asm

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
